# Back end
# Testing and developent artefacts

/archivist.db
/test/temp/
/model_archivist.log

# Front end
/frontend/node_modules
/frontend/.svelte-kit
/frontend/build

# Output
.output
.vercel
.netlify
.wrangler

# OS
/frontend/.DS_Store
/frontend/Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
